XDG_CACHE_HOME
.vscode
*.swp
__pycache__

Dataset/Data/*.tif
Dataset/Data_GT/*.tif
Dataset/Main/*.tif
Dataset/Main_GT/*.tif

model_output/*.tif
model_output/*.jpeg
model_output/*.png

!models/*.ckpt

!plots
!model_output/unet_40.tif
!model_output/unet_80.tif
!model_output/unet_125.tif
!model_output/unet_150.tif
!model_output/unet_100.tif
!model_output/unet_bn_40.tif
!model_output/unet_bn_80.tif
!model_output/unet_bn_125.tif
!model_output/unet_bn_150.tif
!model_output/unet_bn_100.tif
!model_output/unet_d_40.tif
!model_output/unet_d_80.tif
!model_output/unet_d_125.tif
!model_output/unet_d_150.tif
!model_output/unet_d_100.tif
